
  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&display=swap');


body{
    background-color: hsl(221, 100%, 96%);
    margin-top: 80px;
}

/* Styling for the first container */
.container{
    width: 520px;
    height: 350px;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    border-radius: 2rem;
    display: flex;
    
}

/* End of styling for the second container */



/* Styling for the box1 */
.box1{
    width:250px;
    height: 350px;
    border-radius: 2rem;
    background:linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%))
}

.results{
    padding-top: 15px;
    font-size: 15px;
    text-align: center;
    color: hsla(217, 45%, 22%, 0.929);
    font-family: 'Hanken Grotesk', sans-serif;
}

span{
    font-size: 50px;
    font-family:'Hanken Grotesk', sans-serif;
    color: white;
}

.score{
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 12px;
    margin-top: 55px;
    background-image: rgba(82, 38, 205, 0.553);
}

.remarks{
    color: white;
    font-family:'Hanken Grotesk', sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 19px;
}

p{
    color: white;
    font-family:'Hanken Grotesk', sans-serif;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

/* End of styling for box 1 */

/* Styling for box 2 and sub-container*/

.sub-container{
    /* margin: auto; */
    
}


.box2{
    font-family:'Hanken Grotesk', sans-serif;
}

.subBox1{
    display:flex;
}


.subBox2{
    display: flex;
}

.details{
    color:hsl(218, 44%, 22%);
    margin-left: 25px;
    font-size: 20px;
}

.subBox1 img{
    /* align-items: end; */
    /* padding-block: 10px; */
    width:15px;
    height:15px;
     fill: none;
    
}

.subBox1 #details1{
    gap: 5px;
    padding-block: 10px;
}


#details1{
    margin-left: 5px;
    color: hsl(0, 100%, 67%);
    padding-block: 1rem;
}

#details2{
    color: hsl(39, 100%, 56%);
    margin-left: 5px;
}


#details3{
    color: hsl(166, 100%, 37%);
    margin-left: 5px;  
}


#details4{
    color: hsl(234, 85%, 45%);
    margin-left: 5px;
}


.subjectScore{
    color:hsl(218, 44%, 22%);
    font-size: 0.9rem;
}

#mini_box_container1{
    background-color: hsla(0, 100%, 67%, 0.05);
    width:225px;
    height:40px; 
    margin-left: 15px;
    /* margin-top: 5rem; */
    border-radius: 0.5rem;
    gap: 5rem;
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
}

#mini_box_container2{
    background-color: hsla(39, 100%, 56%, 0.073);
    width:225px;
    height:40px;
    gap: 5rem;
    display:flex ;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 15px;
    border-radius: 0.5rem;
    margin-block: 1rem;
}


#mini_box_container3{
    background-color: hsla(166, 100%, 37%, 0.048);
    width:225px;
    height:40px;
    gap: 5.5rem;
    display: flex;
    align-items: center;
    margin-left: 15px;
    border-radius: 0.5rem;
    margin-block: 1rem;

}


#mini_box_container4{
    background-color: hsla(234, 85%, 45%, 0.059);
    width:225px;
    height:40px;
    gap: 5.8rem;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 15px;
    border-radius: 0.5rem;
}




/* Button styling */


button{
    /* margin-top: 1rem; */
    color: hsl(0, 0%, 100%);
    background:linear-gradient(hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    border-radius: 1.5rem;
    margin: 18px;
    margin-left: 15px;
    width:225px;
    height: 40px;
    font-family:'Hanken Grotesk', sans-serif;
    border: 1px;
    /* position: fixed; */
}

button:hover{
    background:hsl(218, 44%, 22%); 
}





